body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.hero {
    background: linear-gradient(to bottom right, #0dae48, #148867, #06271f);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 0;
    min-height: 70vh;
    overflow: hidden;
    z-index: 1;
}

#shop {
    scroll-margin-top: 80px;
}

.card {
    position: relative;
    width: 300px;
    height: 450px;
    background: #f5f5f5;
    border-radius: 150px 150px 0 0;
    display: inline-block;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transform: translateY(5px);
    left: 50px;
    z-index: 10;
    overflow: visible;
}

.badge {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background: #386048;
    color: white;
    border-radius: 50%;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.card img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.batman {
    background-color: #53766c;
    height: 30vh;
}